<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.singularity.archdesignhub.backend.MessagingEndpoint,
                com.singularity.archdesignhub.backend.RegistrationEndpoint,
                com.singularity.archdesignhub.backend.endpoints.AgentEndpoint,
                com.singularity.archdesignhub.backend.endpoints.CommentEndpoint,
                com.singularity.archdesignhub.backend.endpoints.PropertyEndpoint,
                com.singularity.archdesignhub.backend.endpoints.UserEndpoint,
                com.singularity.archdesignhub.backend.endpoints.WaitingUserEndpoint,
                com.singularity.archdesignhub.backend.endpoints.ImageEndpoint,
                com.singularity.archdesignhub.backend.endpoints.UploadUrlEndpoint,
                com.singularity.archdesignhub.backend.endpoints.EventEndpoint,
                com.singularity.archdesignhub.backend.endpoints.ContactEndpoint</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getUploadUrl</servlet-name>
        <servlet-class>com.singularity.archdesignhub.backend.servlets.GetUploadUrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getUploadUrl</servlet-name>
        <url-pattern>/getUploadUrl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadBlob</servlet-name>
        <servlet-class>com.singularity.archdesignhub.backend.servlets.UploadBlob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadBlob</servlet-name>
        <url-pattern>/uploadBlob</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>serveBlob</servlet-name>
        <servlet-class>com.singularity.archdesignhub.backend.servlets.ServeBlob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serveBlob</servlet-name>
        <url-pattern>/serveBlob</url-pattern>
    </servlet-mapping>

    <!-- My custom api to support third party piggys-->
    <servlet>
        <servlet-name>agentsServlet</servlet-name>
        <servlet-class>com.singularity.archdesignhub.backend.content.AgentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>agentsServlet</servlet-name>
        <url-pattern>/content/api/agents/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>propertiesServlet</servlet-name>
        <servlet-class>com.singularity.archdesignhub.backend.content.PropertiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>propertiesServlet</servlet-name>
        <url-pattern>/content/api/properties/add</url-pattern>
    </servlet-mapping>
    <!-- end of My custom api to support third party piggys-->


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>